<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title }}</title>

		<link rel="stylesheet" href="{{ "reveal.js/dist/reset.css" | relURL }}">
		<link rel="stylesheet" href="{{ "reveal.js/dist/reveal.css" | relURL }}">
		<link rel="stylesheet" href="{{ ( printf "reveal.js/dist/theme/%s.css" (.Params.Theme | default "black") )  | relURL }}" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ "reveal.js/plugin/highlight/monokai.css" | relURL }}" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				
				{{ range .Pages }}
						{{ .Content }}
				{{ end }}
			
			</div>
		</div>

		<script src="{{ "reveal.js/dist/reveal.js" | relURL }}"></script>
		<script src="{{ "reveal.js/plugin/notes/notes.js" | relURL }}"></script>
		<script src="{{ "reveal.js/plugin/markdown/markdown.js" | relURL }}"></script>
		<script src="{{ "reveal.js/plugin/highlight/highlight.js" | relURL }}"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
		
	</body>
</html>